<nav>
    <ul class="nav-list">

        {% for item in  site.data.navigation %}
            <li class="nav-list-element" >
                <a href="{{ item.link  | relative_url }}" {% if page.url == item.link %} id="nav-list-element-active" {% endif %}>{{ item.name }}</a>
            </li>
            {% if item != site.data.navigation.last %}
            <li class="nav-list-element">
                <p class="nav-list-element-separator">|</p>
            </li>
            {% endif %}
        {% endfor %}
        
    </ul>
</nav>