:root {
    --c-darkest-grey: #414141 ;
    --c-darker-grey: #888888;
    --c-dark-grey: #b9b9b9;
    --c-light-grey: #dadada;
    --c-std-text: black;
    --c-std-link: rgb(0, 82, 193);
    --c-std-font-gray: black;
}

html {
    background-color: var(--c-light-grey);
    color: var(--c-std-text); 

    font-family: jt-mono-light;
}

body {
    padding: 0 1.5em 0.5em 1.5em;
    margin: 0;
}

@media (max-width: 650px) {
    body {
        padding: 0 0 0.5em 0;
    }
    .centering {
        max-width: none;
    }
}

.centering {
    margin: 0 auto;
    max-width: 1400px;
}

p {
    padding: 0;
    margin-bottom: 0%;
}

p strong {
    font-family: jt-mono-medium;
}

hr {
    border: 0;
    border-top: 1px solid var(--c-darkest-grey);
}

a {
    color: var(--c-std-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
}

.nav-list {
    list-style-type: none;
    display: inline-block;
    padding-left: 1em;
    margin: 0;
}

.nav-list-element {
    display: inline-block; 
}

nav a {
    font-family: jt-mono-regular;
    color: var(--c-std-text);
}

#nav-list-element-active {
    font-family: jt-mono-bold;
    color: var(--c-std-font-gray);
}

#nav-list-element-active:hover {
    text-decoration: none;
    cursor:default;
}

.nav-list-element-separator {
    margin: 0;
}

main {
    background-color: var(--c-dark-grey);
    padding: 0.5em 1em;
}

.grid-elements {
    border: white;
    /*border-width: 15pt;*/
    padding: 0.5em;
}

.grid-element-content {
    display: block;  
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 0;
    /*grid-auto-rows: minmax(100px, auto);*/
}


.life-left {
    grid-column: 1 / 3;
    text-align: right;
}



.life-right {
    grid-column: 4 / 6;

}


.life-filler {
    grid-column: 3;
    text-align: center;
}


/* .life-left {
    grid-column: 1 / 3;
    text-align: right;
}

.life-filler-left {
    grid-column: 3;

}

.life-right {
    grid-column: 2 / 4;

}

.life-filler-right {
    grid-column: 1;
    text-align: right;

} */


.contact-list {
    list-style-type: none;
    display: inline-block;
    padding-left: 1em;
    margin: 0;
}

.contact-list-element {
    display: inline-block; 
}

.contact-list-element-img {
    height: 1.5em;
}

.contact-list-element-separator {
    margin: 0;
    font-size: 1.75em;
    font-family: jt-mono-thin;
}

#twitter-img {
    height: 1.45em;
}

#mail {
    font-size: 1.75em;
    color: black;
    position: relative;
}

#mail:hover {
    text-decoration: none;
    color: var(--c-std-link);
}


footer {
    margin: 0 0 ; 
    padding: 0 0.5em;
}

.grid-dt-weeks {
    text-align: center;
    background-color: var(--c-darker-grey);
    grid-column: span 1;
}


.grid-dt-links {
    text-align: center;
    background-color: var(--c-darker-grey);
    grid-column: span 1;
}

.grid-dt-links-row1 {
    grid-row: 1 / 2;
}

.grid-dt-links-row2 {
    grid-row: 2 / 3;
}

.grid-dt-links-row3 {
    grid-row: 3 / 4;
}


@media screen and (max-width: 992px) {
    .grid-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .grid-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-dt-links-row1 {
        grid-row: span 1;
    }
    .grid-dt-links-row2 {
        grid-row: span 1;
    }
    .grid-dt-links-row3 {
        grid-row: span 1;
    }
}