nav {
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
}

.nav-list {
    list-style-type: none;
    display: inline-block;
    padding-left: 1em;
    margin: 0;
}

.nav-list-element {
    display: inline-block; 
}

nav a {
    font-family: jt-mono-regular;
    color: var(--c-std-text);
}

#nav-list-element-active {
    font-family: jt-mono-bold;
    color: var(--c-std-font-gray);
}

#nav-list-element-active:hover {
    text-decoration: none;
    cursor:default;
}

.nav-list-element-separator {
    margin: 0;
}